<section>
  <table class="rwd-table">
    <tr>
      <th>Product</th>
      <th>Aantal</th>
      <th>Prijs</th>
      <th></th>
    </tr>
    <tr *ngFor="let order of order">
      <td data-th="Movie Title">{{ order.title }}</td>
      <td data-th="Genre">{{ order.amount }}</td>
      <td data-th="Year">€{{ order.price }}</td>
    </tr>
    <tr>
      <td>Totaal</td>
      <td></td>
      <td>€{{totalPrice}}</td>
    </tr>
  </table>
</section>
