<div class='main-wrapper'>
  <!-- MAIN WRAPPER -->
  <div class='products-container' *ngFor="let product of allProducts">
    <div class='shop-card' data-cat='Amazon'>
      <div class="title">
        {{ product.title }}
      </div>
      <div class="product">
        <img src="../../assets/images/products/{{product.picture}}" />
      </div>
      <div class='cta'>
        <div class="price">€{{ product.price }}</div>
        <button class="button" (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
