button, input, textarea {
  border: none;
  outline: none;
}

h1{
  font-size: 2em;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  display:inline-block;
}

input[type='submit']{
  width: 104.5%;
}

button{
  padding: 10px;
  margin-bottom: 5px;
  width: 104.5%;
  display: block;
}

label{
  width: 100%;
  display: inline-block;
}

.center-container {
  padding: 40px;
  min-height: calc(100vh - 140px);
  align-items: center;
  justify-content: center;
  display: block;
  width: 30%;
  margin-left: 30%;
}


.title{
  align-items: center;
  justify-content: center;
  display: flex;
}
