<div class="title">
</div>
<div class="center-container">
  <form (submit)="update()" name="updateForm" #updateForm="ngForm">
    <h1>
      Account aanpassen
    </h1>
    <Label>Voornaam:</Label>
    <input type="text" id="firstname" name="firstname" class="form-control" required placeholder="Voornaam" [(ngModel)]="currentUser.firstname" #firstname="ngModel"><br>
    <Label>Tussenvoegsel:</Label>
    <input type="text" id="preposition" name="preposition" class="form-control" required placeholder="Tussenvoegsel" [(ngModel)]="currentUser.preposition" #preposition="ngModel"><br>
    <Label>Achternaam:</Label>
    <input type="text" id="lastname" name="lastname" class="form-control" required placeholder="Achternaam" [(ngModel)]="currentUser.lastname" #lastname="ngModel"><br>
    <Label>Wachtwoord:</Label>
    <input type="password" id="password" name="password" class="form-control" required placeholder="Wachtwoord" [(ngModel)]="currentUser.password" #password="ngModel"><br>
    <label></label>
    <input type="submit" value="Bevestig">
  </form>
  <button (click)="deleteAccount()">
    Verwijder account
  </button>
</div>
