html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  /*   background: -webkit-radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%); */
  background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  background: radial-gradient(ellipse farthest-corner at center top, #446CB3 0%, #22313F 100%);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}


/*--------------------
NAVBAR
--------------------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 50px;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 2;
}

.logo {
  flex: 1;
  cursor: pointer;
}

.logo:focus{
  outline:0;
}

.cart-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-container:focus, .account-container:focus{
  outline: 0;
}

.account-container {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}

.cart-desc {
  margin-left: 10px;
  font-size: 13px;
}


/*--------------------
INFO BAR
--------------------*/

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding-top: 70px;
  z-index: 1;
}

.shipping-container {
  display: flex;
  align-items: center;
}

.inventory-container {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.info-wrapper .fa {
  color: #fff;
  margin-right: 10px;
  transform: Scale(0.9);
}

.info-desc {
  font-weight: 700;
  font-size: 15px;
}

.main-wrapper {
  display: block;
  min-height: 450px;
  padding: 20px;
  padding-top: 10px;
}


/*--------------------
Products Menu
--------------------*/

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 260px;
  height: 250px;
  margin-top: 10px;
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  background: linear-gradient( 0deg, #cd4b4b, #e0574f);
  cursor: pointer;
  transition: all 300ms;
}

.menu-item:nth-child(4) {
  border-radius: 0 0 10px 10px;
  background: #3d61a1;
}

.menu-item:nth-child(3) {
  background: #36568f;
}

.menu-item:nth-child(2) {
  background: #2f4b7d;
}

.menu-item:nth-child(1) {
  border-radius: 10px 10px 0 0;
  background: #28406b;
}

.menu-item:hover {
  width: 107%;
  /*   transform: Scale(1.05); */
}

.menu-item-title {
  display: flex;
  flex: 1;
  font-weight: 300;
}

.menu-item-number {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #555;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
}

.menu-item-number:nth-child(1) {
  color: #28406b;
}

.menu-item-number:nth-child(2) {
  color: #2f4b7d;
}

.menu-item-number:nth-child(3) {
  color: #cd4b4b;
}

.menu-item-number:nth-child(4) {
  color: #c24448;
}


/*--------------------
Products Container
--------------------*/

.products-container {
  min-height: 300px;
  margin-top: 0;
  display: inline-block;
}

.shop-card {
  margin: 10px;
  width: 250px;
  height: 320px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.shop-card .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
  color: #23211f;
  margin-bottom: 5px;
}

.shop-card .desc {
  font-size: 15px;
  opacity: .8;
  margin-bottom: 3px;
  color: #23211f;
}

.product {
  margin: 10px 0;
}

.product img {
  width: 100%;
  height: auto;
}

.cta {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #28406b;
  font-size: 22px;
  font-weight: 900;
  transition: color .3s ease-in-out;
}

.button {
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #28406b;
  padding: 12px 18px;
  cursor: pointer;
  transition: all 300ms;
  line-height: .95;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #28406b;
  border-radius: 20px;
}

.button:hover {
  background: linear-gradient(135deg, #3d61a1, #28406b);
  color: #fff;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.active {
  display: block;
}
