<div id="table-wrapper">
  <div id="table-scroll">
    <ng2-smart-table  [settings]="settings" [source]="allProducts | async"
                      (createConfirm)="addProduct($event)"
                      (editConfirm)="updateProduct($event)"
                      (deleteConfirm)="deleteProduct($event)">
    </ng2-smart-table>
  </div>
</div>
