<section>
  <div id="login">
    <form name='form-login' (ngSubmit)="onSubmit()" [hidden]="register">
      <span class="fontawesome-user"></span>
      <input placeholder="Gebruikersnaam" type="text" required
             [(ngModel)]="user.email" name="username">

      <span class="fontawesome-lock"></span>
      <input placeholder="Wachtwoord" type="password" required [(ngModel)]="user.password" name="password">
      <input type="submit" value="Log in">
    </form>
    <div class="login" [hidden]="register">
      <form class="register">
        <button (click)="register = true;">Registreren</button>
      </form>
    </div>
    <form name="form-register" (ngSubmit)="registerMe()" [hidden]="!register">
      <span class="fontawesome-user"></span>
      <input placeholder="Email" type="text" required
             [(ngModel)]="user.email" name="username">
      <span class="fontawesome-lock"></span>
      <input placeholder="Wachtwoord" type="password" required [(ngModel)]="user.password" name="password">
      <span class="fontawesome-lock"></span>
      <input placeholder="Voornaam" type="text" required [(ngModel)]="user.firstname" name="firstname">
      <span class="fontawesome-lock"></span>
      <input placeholder="Tussenvoegsel" type="text" required [(ngModel)]="user.preposition" name="preposition">
      <span class="fontawesome-lock"></span>
      <input placeholder="Achternaam" type="text" required [(ngModel)]="user.lastname" name="lastname">
      <input type="submit" value="Registreer" (click)="registerMe(); register = false;">
    </form>
  </div>
</section>
