@charset "utf-8";
/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/

div.loginlabel {
  margin: 20px 0;
  font-size: 1.4em;
  font-family:'Open Sans', sans-serif;

}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after { clear: both; }

.login {
  margin: 0px 0px 0px 0px;
  width: 320px;
}

#login {
  margin: 50px auto;
  width: 320px;
}

#login form {
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  background: #282e33;
  border-top: 3px solid #434a52;
}

.register {
  padding: 0px 22px 22px 22px !important;
  width: 100%;
  border-radius: 0px 0px 5px 5px !important;
  background: #282e33;
  border-top: 0px !important;
  border-bottom: 3px solid #434a52 !important;
}
#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 235px;
  height: 50px;
}

#login form input[type="submit"] {
  background: #446CB3;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover, button:hover {
  background: #777777;
}

button {
  background: #446CB3;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font: 16px 'Open Sans', sans-serif;
}
