<!-- NAVBAR -->
<div class='navbar'>
  <div class='logo' routerLink="">Nespresso</div>
  <div class='account-container' routerLink="producten">
    <div class='cart-desc'>Producten</div>
  </div>
  <div class='account-container' routerLink="login" *ngIf="!loggedIn">
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class='cart-desc'>Inloggen</div>
  </div>
  <div class='account-container'routerLink="account" *ngIf="loggedIn">
    <i class="fa fa-user" aria-hidden="true"></i>
    <div class='cart-desc'>Account</div>
  </div>
  <div class='cart-container' routerLink="winkelwagen">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <div class='cart-desc'>Winkelwagen</div>
  </div>

</div>

